body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    min-height : 70px;
    display : flex;
    background-color : #14161A;
    justify-content : space-between;
    align-items : center;
}
.logo{
    display : flex;
    align-items: center;
}
.logo img{
    height : 70px;

}
nav a{
    font-weight : 600;
    padding-right: 10px;
    /*align-items: center;*/

}
.nav-link-chorizo img{
    
    height : 18px;
    align-items: center;
    padding-left: 10px;
}

nav a:hover{
    color : yellow;
}
.logo h2:hover{
    color : yellow;
}
nav{
    align-items: center;
}